[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
django-cors-headers = "*"
django-allauth = "==0.54.0"
dj-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
